<md-content>
    <md-list>
        <div ng-repeat="ex in ctrl.exercises track by $index">
            <md-list-item class="md-2-line" ng-hide="ex.id == ctrl.activeExercise.id" ng-click="ctrl.setActiveExercise(ex)">
                <div class="md-list-item-text">
                    <h3><i class="material-icons g-accomplished" ng-show="ctrl.accomplishedExercises[ex.id]">check_circle</i>{{ex.name}}</h3>
                </div>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
            <md-card id="{{ex.id}}" ng-show="ex.id == ctrl.activeExercise.id" ng-click="ctrl.setActiveExercise(null)">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ ex.name }}</span>
                     </md-card-title-text>
                    <md-card-title-media>
                        <md-button class="md-icon-button md-primary" ng-click="ctrl.showHistory($event, ex)" aria-label="History">
                            <i class="material-icons">history</i>
                        </md-button>
                    </md-card-title-media>
                </md-card-title>
                <md-card-content>
                    <form>
                        <div layout-gt-sm="row" ng-repeat="set in ctrl.exerciseSets | filter:ex.id:ctrl.filterExerciseSets track by $index">
                            <md-input-container class="g-input-unit">
                                <label>Unit</label>
                                <md-select ng-model="set.unit" ng-change="ctrl.onUnitChange(set)">
                                    <md-option ng-repeat="unit in ctrl.massUnits" value="{{unit.name}}">{{unit.name}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="g-input-weight">
                                <input name="weight"
                                       type="number"
                                       placeholder="Weight"
                                       ng-model="set.weight"
                                       ng-blur="ctrl.onBlur(set)"
                                       ng-change="ctrl.onChange(set)"
                                       g-focus-next-on-enter
                                       autofocus
                                       style="text-align: center">
                            </md-input-container>
                            <span style="font-size: 15pt; vertical-align: middle; line-height: 30pt;color:rgba(0,0,0,0.25);">&times;</span>
                            <md-input-container class="g-input-reps">
                                <input name="reps"
                                       type="number"
                                       placeholder="Reps"
                                       ng-model="set.numberOfRepetitions"
                                       ng-blur="ctrl.onBlur(set)"
                                       ng-change="ctrl.onChange(set)"
                                       ng-keydown="ctrl.onKeydown($event, ex.id)"
                                       style="text-align: center">
                            </md-input-container>
                        </div>
                    </form>
                </md-card-content>
            </md-card>
        </div>
    </md-list>
</md-content>