<md-card class="g-newcard-helper">
    <form name="newCard" ng-submit="$event.preventDefault()">
        <md-card-title>
            <md-card-title-text>
                <md-input-container class="md-block md-headline" md-no-float>
                    <input id="workoutName"
                           name="title"
                           ng-model="newWorkout.name"
                           placeholder="Enter workout title"
                           g-focus-next-on-enter
                           autocomplete="off"
                           autofocus>
                </md-input-container>
                <div class="md-subhead">
                    <md-chips ng-model="newWorkout.exercises"
                              md-autocomplete-snap
                              md-transform-chip="ctrl.transformChip($chip)">
                        <md-autocomplete md-selected-item="ctrl.selectedItem"
                                         md-search-text="ctrl.searchText"
                                         md-items="item in ctrl.querySearch(ctrl.searchText)"
                                         md-item-text="item.name"
                                         placeholder="Type exercises">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="gi">{{item.name}}</span>
                            </md-item-template>
                        </md-autocomplete>
                        <md-chip-template>
                            <span>
                                {{$chip.name}}
                            </span>
                        </md-chip-template>
                    </md-chips>
                </div>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button md-primary" ng-click="ctrl.saveWorkout()" aria-label="Save workout">
                <i class="material-icons">save</i>
            </md-button>
        </md-card-actions>
    </form>
</md-card>