<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Prod</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://gymapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>gymapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GymApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GymApp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MainDataModel" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ches151.database.windows.net,1433;Initial Catalog=GymApp;User ID=ches@ches151;Password=Q!w2e3r4t5;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework;User Instance=True" Name="Server=tcp:ches151.database.windows.net,1433;Database=GymApp;User ID=ches@ches151;Password=Q!w2e3r4t5;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;MultipleActiveResultSets=True;Application Name=EntityFramework;User Instance=True" />
          <Object Type="DbDacFx" Enabled="True">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=GymApp;Integrated Security=True;Application Name=EntityFramework;User Instance=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MainDataModel_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS;Initial Catalog=GymApp;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework;User Instance=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MainDataModel-Web.config Connection String">
      <ParameterValue>Server=tcp:ches151.database.windows.net,1433;Database=GymApp;User ID=ches@ches151;Password=Q!w2e3r4t5;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;MultipleActiveResultSets=True;Application Name=EntityFramework;User Instance=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>