<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Gym Application</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/Notes/bower_components/angular-material/angular-material.css" rel="stylesheet" />

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Notes/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">

    <link href="/Notes/Content/Site.css" rel="stylesheet" />

    <style type="text/css">
        /**
        * Hide when Angular is not yet loaded and initialized
        */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
        .md-button.md-fab .material-icons { line-height: 56px; padding-left: 3px; }
        .material-icons.md-18 { font-size: 18px; }
        .material-icons.md-24 { font-size: 24px; }
        .material-icons.md-36 { font-size: 36px; }
        .material-icons.md-48 { font-size: 48px; }

        .material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
        .material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

        .material-icons.md-light { color: rgba(255, 255, 255, 1); }
        .material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }
        .material-icons.black { color: black;}
    </style>
    <script src="/Notes/Scripts/modernizr-2.8.3.js"></script>


</head>
<body ng-app="app" layout="row" ng-controller="WorkoutController as ctrl" ng-cloak>
    <div flex="50" flex-sm="100" flex-xs="100" layout="column">
        <md-card ng-repeat="workout in ctrl.workouts">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ workout.name }}</span>
                    <div class="md-subhead">
                        <div ng-repeat="ex in workout.Exercises">{{ ex.name }}</div>
                    </div>
                </md-card-title-text>
                <md-card-title-media>
                    <md-button class="md-fab" aria-label="Start workout">
                        <i class="material-icons md-36">&#xE5CC;</i>
                    </md-button>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
                
                <md-button class="md-icon-button md-primary" aria-label="Edit workout">
                    <i class="material-icons md-24">&#xE150;</i>
                </md-button>
                <md-button class="md-icon-button md-primary" aria-label="Delete workout">
                    <i class="material-icons md-24">&#xE872;</i>
                </md-button>
            </md-card-actions>
        </md-card>
        <md-card class="g-newcard-helper">
            <form name="newCard" editable-form>
                <md-card-title>
                    <md-card-title-text>
                        <md-input-container md-no-float class="md-block md-headline">
                            <input ng-model="ctrl.newWorkout.Name" placeholder="Enter name">
                        </md-input-container>
                        <div class="md-subhead">
                            <div ng-repeat="ex in ctrl.newWorkout.exercises" editable-text="ex.name" e-typeahead="globalexercise for globalexercise in ctrl.exercises | filter:$viewValue | limitTo:50">
                                {{ ex.name || 'Add exercise' }}
                            </div>
                        </div>
                    </md-card-title-text>
                    <md-card-title-media style="visibility:hidden;">
                        <md-button class="md-fab" aria-label="Start workout">
                            <i class="material-icons md-36">&#xE5CC;</i>
                        </md-button>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center" style="visibility:hidden;">
                    <md-button class="md-icon-button md-primary" aria-label="Edit workout">
                        <i class="material-icons md-24">&#xE150;</i>
                    </md-button>
                    <md-button class="md-icon-button md-primary" aria-label="Delete workout">
                        <i class="material-icons md-24">&#xE872;</i>
                    </md-button>
                </md-card-actions>
            </form>
        </md-card>
        <div ng-controller="Ctrl">
            <a href="#" editable-text="user.state" e-typeahead="state for state in states | filter:$viewValue | limitTo:8">
                {{ user.state || 'empty' }}
            </a>
        </div>
    </div>

    <script src="/Notes/bower_components/jquery/dist/jquery.js"></script>
    <script src="/Notes/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/Notes/bower_components/angular/angular.js"></script>

    <script src="/Notes/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/Notes/bower_components/angular-resource/angular-resource.js"></script>
    <script src="/Notes/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/Notes/bower_components/angular-messages/angular-messages.js"></script>
    <script src="/Notes/bower_components/angular-material/angular-material.js"></script>
    <script src="/Notes/bower_components/angular-xeditable/dist/js/xeditable.js"></script>
    <script src="/Notes/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/Notes/Scripts/tools.js"></script>
    <script src="/Notes/Scripts/app.js"></script>

    <script>
        angular.module("app", ["ngResource", "ngMaterial", "xeditable", "ui.bootstrap", "gym"])
            .config(function ($mdThemingProvider, $mdIconProvider) {

                $mdThemingProvider.theme('default')
                    .primaryPalette('brown')
                    .accentPalette('red');

            })
            .constant("settings", {
                rootUrl: "//localhost/Notes",
                appName: "My First App"
            });

    </script>
</body>
</html>