<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Gym Application</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/Notes/bower_components/angular-material/angular-material.css" rel="stylesheet" />

    <link href="/Notes/bower_components/angular-xeditable/dist/css/xeditable.css" rel="stylesheet">

    <link href="/Notes/Content/Site.css" rel="stylesheet" />

    <script src="/Notes/Scripts/modernizr-2.8.3.js">
</script>
</head>
<body ng-app="app" layout="row" ng-controller="WorkoutController as ctrl" ng-cloak>
  <md-content flex="50" flex-sm="100" flex-xs="100" layout="column">
    <md-toolbar>
      <div class="md-toolbar-tools" flex >
        <md-button class="md-icon-button" aria-label="Settings">
          <i class="material-icons">menu</i>
        </md-button>
        <h2 g-current-time="'h:mm:ss a'" flex="grow"></h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Favorite" ng-click="ctrl.toggleFullScreen()">
          <i class="material-icons">{{ctrl.fullscreen? "fullscreen_exit":"fullscreen"}}</i>
        </md-button>
        <md-button class="md-icon-button" aria-label="More">
          <i class="material-icons">more_vert</i>
        </md-button>
      </div>
    </md-toolbar>
    <div>
        <md-card class="g-newcard-helper"
                 ng-controller="ExerciseController as exCtrl" 
                 ng-show="creatingNewWorkout">
            <form name="newCard" ng-submit="$event.preventDefault()">
                <md-card-title>
                    <md-card-title-text>
                        <md-input-container class="md-block md-headline" md-no-float>
                            <input id="workoutName"
                                name="title"
                                ng-model="newWorkout.name"
                                md-autofocus="creatingNewWorkout"
                                placeholder="Enter workout title"
                                g-focus-next-on-enter
                                autocomplete="off">
                        </md-input-container>
                        <div class="md-subhead">
                            <div ng-repeat="ex in newWorkout.exercises track by $index" class="g-exercise" ng-hide="true">
                                <md-button class="md-icon-button" aria-label="Delete exercise" ng-click="exCtrl.deleteExercise(ex)">
                                    <i class="material-icons md-24 delete">delete</i>
                                </md-button>
                                <span class="g-exercise-name">{{ ex.name }}</span>
                            </div>
                            <md-chips ng-model="newWorkout.exercises"
                                      md-autocomplete-snap
                                      md-transform-chip="exCtrl.transformChip($chip)">
                              <md-autocomplete
                                  md-selected-item="exCtrl.selectedItem"
                                  md-search-text="exCtrl.searchText"
                                  md-items="item in exCtrl.querySearch(exCtrl.searchText)"
                                  md-item-text="item.name"
                                  placeholder="Type exercises">
                                <md-item-template>
                                    <span md-highlight-text="exCtrl.searchText" md-highlight-flags="gi">{{item.name}}</span>
                                </md-item-template>
                              </md-autocomplete>
                              <md-chip-template>
                                <span>
                                  {{$chip.name}}
                                </span>
                              </md-chip-template>
                            </md-chips>                           
                        </div>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-icon-button md-primary" ng-show="creatingNewWorkout" ng-click="ctrl.saveWorkout()" aria-label="Save workout">
                        <i class="material-icons">save</i>
                    </md-button>
                </md-card-actions>
            </form>
        </md-card>
        <md-card class="g-workout"
                 ng-repeat="workout in ctrl.workouts | orderBy:'name'"
                 ng-hide="creatingNewWorkout"
                 id="{{workout.id}}">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{ workout.name }}</span>
                    <div class="md-subhead">
                        <div ng-repeat="ex in workout.exercises">{{ ex.name }}</div>
                    </div>
                </md-card-title-text>
                <md-card-title-media>
                    <md-button class="md-fab md-mini md-accent g-start-workout" aria-label="Start workout">
                        <i class="material-icons">chevron_right</i>
                    </md-button>
                </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">

                <md-button class="md-icon-button md-primary" aria-label="Edit workout">
                    <i class="material-icons">mode_edit</i>
                </md-button>
                <md-button class="md-icon-button md-primary" ng-click="ctrl.deleteWorkout(workout)" aria-label="Delete workout">
                    <i class="material-icons">delete</i>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
        <md-button class="md-fab g-right-bottom-button"
            ng-click="ctrl.startCreatingNewWorkout()"
            ng-hide="creatingNewWorkout"
            aria-label="Add workout">
          <i class="material-icons">add</i>
        </md-button>
    </md-content>
    <div id="target-element-id"></div>
    <script src="/Notes/bower_components/jquery/dist/jquery.js">
</script>
    <!-- <script src="/Notes/bower_components/bootstrap/dist/js/bootstrap.js"></script> -->
    <script src="/Notes/bower_components/angular/angular.js">
</script>

    <script src="/Notes/bower_components/angular-animate/angular-animate.js">
</script>
    <script src="/Notes/bower_components/angular-resource/angular-resource.js">
</script>
    <script src="/Notes/bower_components/angular-aria/angular-aria.js">
</script>
    <script src="/Notes/bower_components/angular-messages/angular-messages.js">
</script>
    <script src="/Notes/bower_components/angular-material/angular-material.js">
</script>
    <script src="/Notes/bower_components/angular-bootstrap/ui-bootstrap-tpls.js">
</script>
    <script src="/Notes/bower_components/datajs/datajs.js"></script>
    <script src="/Notes/Scripts/tools.js">
</script>
    <script src="/Notes/Scripts/gym.js">
</script>
    <script src="/Notes/Scripts/gym.directive.js">
</script>
    <script src="/Notes/Scripts/gym.service.js">
</script>

<script>

angular.module("app", ["ngResource", "ngMaterial", "ui.bootstrap", "gym"])
.config(function($mdThemingProvider, $mdIconProvider) {
    $mdThemingProvider.theme('default')
    .primaryPalette('blue-grey')
    .accentPalette('pink');

})
.constant("settings", {
    rootUrl: "//192.168.100.2/Notes",
    appName: "My First App"
});
</script>
</body>
</html>