<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="MainDataModel"
          connectionString="Server=tcp:ches151.database.windows.net,1433;Database=GymApp;User ID=ches@ches151;Password=Q!w2e3r4t5;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;MultipleActiveResultSets=True;Application Name=EntityFramework;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug,batch,optimizeCompilations)" />
        <!--<customErrors mode="Off" xdt:Transform="Replace"/>-->
    </system.web>
</configuration>