<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="MainDataModel"
          connectionString="Data Source=.\prod;Initial Catalog=GymApp;Persist Security Info=True;User ID=sa;Password=Qwerty1;Application Name=EntityFramework;"
          xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug,batch,optimizeCompilations)" />
        <!--<customErrors mode="Off" xdt:Transform="Replace"/>-->
    </system.web>
</configuration>