USE [master]
GO
/****** Object:  Database [GymApp]    Script Date: 4/26/2016 10:54:18 AM ******/
CREATE DATABASE [GymApp]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GymApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GymApp]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/26/2016 10:54:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Exercises]    Script Date: 4/26/2016 10:54:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exercises](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_dbo.Exercises] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[ExerciseSets]    Script Date: 4/26/2016 10:54:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExerciseSets](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[ExerciseId] [uniqueidentifier] NOT NULL,
	[WorkoutId] [uniqueidentifier] NOT NULL,
	[WorkoutSessionId] [uniqueidentifier] NOT NULL,
	[Weight] [float] NULL,
	[Unit] [int] NOT NULL,
	[SerialNumber] [int] NULL,
	[NumberOfRepetitions] [int] NULL,
 CONSTRAINT [PK_dbo.ExerciseSets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[WorkoutExercises]    Script Date: 4/26/2016 10:54:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkoutExercises](
	[Workout_Id] [uniqueidentifier] NOT NULL,
	[Exercise_Id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_dbo.WorkoutExercises] PRIMARY KEY CLUSTERED 
(
	[Workout_Id] ASC,
	[Exercise_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[Workouts]    Script Date: 4/26/2016 10:54:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workouts](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_dbo.Workouts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
/****** Object:  Table [dbo].[WorkoutSessions]    Script Date: 4/26/2016 10:54:19 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkoutSessions](
	[Id] [uniqueidentifier] NOT NULL,
	[DateStart] [datetime2](7) NOT NULL,
	[DateEnd] [datetime2](7) NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_dbo.WorkoutSessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
)

GO
INSERT [dbo].[Exercises] ([Id], [Name], [DateCreated]) VALUES (N'b475f58c-7671-f740-8b4e-01a6e18f5f13', N'Have a lunch', CAST(N'2016-03-29 10:28:23.3482245' AS DateTime2))
INSERT [dbo].[Exercises] ([Id], [Name], [DateCreated]) VALUES (N'c01ae525-c8bf-bb1c-4542-01d661023b5d', N'Back 1', CAST(N'2016-04-07 18:37:48.5276932' AS DateTime2))
INSERT [dbo].[Exercises] ([Id], [Name], [DateCreated]) VALUES (N'45aa9981-4e98-7f8b-e559-05548131ea85', N'Lunges', CAST(N'2016-04-09 05:08:14.1711367' AS DateTime2))
INSERT [dbo].[ExerciseSets] ([Id], [Date], [ExerciseId], [WorkoutId], [WorkoutSessionId], [Weight], [Unit], [SerialNumber], [NumberOfRepetitions]) VALUES (N'e79efac8-b1a8-8b2e-92a4-00c287b4878d', CAST(N'2016-04-12 02:38:30.5700000' AS DateTime2), N'e1460956-c4ee-b4d5-27b3-32aa4bf88280', N'd3396a00-c61c-e531-178e-32127637e368', N'052aba58-233b-789e-1195-6d356f9cbb13', 40, 0, 2, 7)
INSERT [dbo].[ExerciseSets] ([Id], [Date], [ExerciseId], [WorkoutId], [WorkoutSessionId], [Weight], [Unit], [SerialNumber], [NumberOfRepetitions]) VALUES (N'fbe35051-ee1a-8144-64b9-010e63bab636', CAST(N'0001-01-01 00:00:00.0000000' AS DateTime2), N'45aa9981-4e98-7f8b-e559-05548131ea85', N'd3396a00-c61c-e531-178e-32127637e368', N'8060755b-726b-8c43-b644-0fce50a9e2f7', 100, 0, 3, 10)
INSERT [dbo].[ExerciseSets] ([Id], [Date], [ExerciseId], [WorkoutId], [WorkoutSessionId], [Weight], [Unit], [SerialNumber], [NumberOfRepetitions]) VALUES (N'62bc2db8-9539-7f1a-9dc3-032aa1597458', CAST(N'0001-01-01 00:00:00.0000000' AS DateTime2), N'a50ccfc2-bed8-59aa-5366-641eccb8b356', N'6bce09ae-5bd4-03d4-8ba3-99796b0c430f', N'5757f43c-1c41-46b4-1ed6-ac159d3226d2', 1456852, 0, 1, 2)
GO
INSERT [dbo].[WorkoutExercises] ([Workout_Id], [Exercise_Id]) VALUES (N'd3396a00-c61c-e531-178e-32127637e368', N'45aa9981-4e98-7f8b-e559-05548131ea85')
INSERT [dbo].[WorkoutExercises] ([Workout_Id], [Exercise_Id]) VALUES (N'd3396a00-c61c-e531-178e-32127637e368', N'f7c85d9a-9857-5922-c285-0babfafe5059')
INSERT [dbo].[WorkoutExercises] ([Workout_Id], [Exercise_Id]) VALUES (N'd3396a00-c61c-e531-178e-32127637e368', N'c1cf1f30-bbf2-f690-8594-216d4f963fa6')
INSERT [dbo].[Workouts] ([Id], [Name], [DateCreated]) VALUES (N'd3396a00-c61c-e531-178e-32127637e368', N'Legs', CAST(N'2016-04-09 05:08:14.1867622' AS DateTime2))
INSERT [dbo].[Workouts] ([Id], [Name], [DateCreated]) VALUES (N'51188fb7-a515-8c50-b51c-661a79c8f9ce', N'Sunday', CAST(N'2016-03-28 07:52:07.7707140' AS DateTime2))
INSERT [dbo].[Workouts] ([Id], [Name], [DateCreated]) VALUES (N'4d27a94c-abfb-6ee0-2e7f-87f9f7b3da3d', N'Пятница', CAST(N'2016-04-01 08:23:34.9247056' AS DateTime2))
INSERT [dbo].[WorkoutSessions] ([Id], [DateStart], [DateEnd]) VALUES (N'3603ee4b-58be-8678-4ed6-01d1b0ffc4bd', CAST(N'2016-03-28 07:55:16.9300000' AS DateTime2), CAST(N'2016-03-28 07:55:18.9060000' AS DateTime2))
INSERT [dbo].[WorkoutSessions] ([Id], [DateStart], [DateEnd]) VALUES (N'ec42caaf-3231-2ed1-519d-0c572dd63959', CAST(N'2016-04-24 09:08:33.4970000' AS DateTime2), CAST(N'2016-04-24 09:13:19.4960000' AS DateTime2))
INSERT [dbo].[WorkoutSessions] ([Id], [DateStart], [DateEnd]) VALUES (N'6996ad3e-2aef-fa61-cf1b-0fc4cc0847c4', CAST(N'2016-04-10 21:06:45.7490000' AS DateTime2), NULL)
/****** Object:  Index [IX_ExerciseId]    Script Date: 4/26/2016 10:54:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_ExerciseId] ON [dbo].[ExerciseSets]
(
	[ExerciseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
/****** Object:  Index [IX_WorkoutId]    Script Date: 4/26/2016 10:54:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_WorkoutId] ON [dbo].[ExerciseSets]
(
	[WorkoutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
/****** Object:  Index [IX_WorkoutSessionId]    Script Date: 4/26/2016 10:54:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_WorkoutSessionId] ON [dbo].[ExerciseSets]
(
	[WorkoutSessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
/****** Object:  Index [IX_Exercise_Id]    Script Date: 4/26/2016 10:54:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_Exercise_Id] ON [dbo].[WorkoutExercises]
(
	[Exercise_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
/****** Object:  Index [IX_Workout_Id]    Script Date: 4/26/2016 10:54:20 AM ******/
CREATE NONCLUSTERED INDEX [IX_Workout_Id] ON [dbo].[WorkoutExercises]
(
	[Workout_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
GO
ALTER TABLE [dbo].[ExerciseSets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExerciseSets_dbo.Exercises_ExerciseId] FOREIGN KEY([ExerciseId])
REFERENCES [dbo].[Exercises] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExerciseSets] CHECK CONSTRAINT [FK_dbo.ExerciseSets_dbo.Exercises_ExerciseId]
GO
ALTER TABLE [dbo].[ExerciseSets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExerciseSets_dbo.Workouts_WorkoutId] FOREIGN KEY([WorkoutId])
REFERENCES [dbo].[Workouts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExerciseSets] CHECK CONSTRAINT [FK_dbo.ExerciseSets_dbo.Workouts_WorkoutId]
GO
ALTER TABLE [dbo].[ExerciseSets]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExerciseSets_dbo.WorkoutSessions_WorkoutSessionId] FOREIGN KEY([WorkoutSessionId])
REFERENCES [dbo].[WorkoutSessions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ExerciseSets] CHECK CONSTRAINT [FK_dbo.ExerciseSets_dbo.WorkoutSessions_WorkoutSessionId]
GO
ALTER TABLE [dbo].[WorkoutExercises]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WorkoutExercises_dbo.Exercises_Exercise_Id] FOREIGN KEY([Exercise_Id])
REFERENCES [dbo].[Exercises] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkoutExercises] CHECK CONSTRAINT [FK_dbo.WorkoutExercises_dbo.Exercises_Exercise_Id]
GO
ALTER TABLE [dbo].[WorkoutExercises]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WorkoutExercises_dbo.Workouts_Workout_Id] FOREIGN KEY([Workout_Id])
REFERENCES [dbo].[Workouts] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkoutExercises] CHECK CONSTRAINT [FK_dbo.WorkoutExercises_dbo.Workouts_Workout_Id]
GO
USE [master]
GO
